@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Thin.otf");
  font-weight: 200;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Light.otf");
  font-weight: 300;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Medium.otf");
  font-weight: 500;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Roman.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica Neue";
  src: url("../fonts/HelveticaNeue/HelveticaNeue-Bold.otf");
  font-weight: 700;
}
:root {
  --bs-danger-rgb: 220, 53, 69;
  --bs-primary-rgb: 0, 91, 255;
  --bs-success-rgb: 25, 135, 84;
}

body {
  color: #222222;
}

.font-inter {
  font-family: "Inter", serif;
}

.font-roboto {
  font-family: "Roboto", serif;
}

.font-open-sans {
  font-family: "Open Sans", serif;
}

.font-helvetica-neue {
  font-family: "Helvetica Neue", serif;
}

.fs-1 {
  font-size: 35px !important;
}
.fs-2 {
  font-size: 28px !important;
}
.fs-3 {
  font-size: 24.5px !important;
}
.fs-4 {
  font-size: 21px !important;
}
.fs-5 {
  font-size: 17.5px !important;
}
.fs-6 {
  font-size: 14px !important;
}

.btn {
  padding: 11.5px 28px;
}
.btn-primary {
  --bs-btn-bg: #005bff;
  --bs-btn-hover-bg: #0055d1;
  --bs-btn-active-bg: #0055d1;
}

.main-container {
  max-width: 1920px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .main-container {
    max-width: calc(100% - 24px);
  }
}

/* Header */
.header {
  box-shadow: -15px -9px 1.6px #222222;
  border-bottom: 1px solid #dee2e6;
}
.header-content {
  max-width: 1856px;
}
@media (max-width: 768px) {
  .header-logo img {
    height: 21px;
  }
}
.header-navs {
  margin-left: 70px;
}

/* Header end */
@media (max-width: 768px) {
  .home iframe {
    height: 404px;
  }
}

.objects-head {
  margin-bottom: 50px;
}
.objects-head__left .filter-btn {
  display: none;
}
@media (max-width: 1550px) {
  .objects-head__left .filter-btn {
    display: block;
  }
}
.objects-head__left .btn-primary {
  width: 156px;
}
@media (max-width: 768px) {
  .objects-head__left .btn-primary {
    width: 117px;
    padding: 6px 17.5px;
  }
}
@media (max-width: 1550px) {
  .objects-head__left .dropdown,
  .objects-head__left a.btn-primary {
    display: none !important;
  }
}
.objects-head__right input {
  width: 258px;
  border-radius: 4px 0 0 4px;
}
@media (max-width: 768px) {
  .objects-head__right input {
    width: 183px;
  }
}
.objects-head__right .btn-primary {
  padding-left: 12px;
  padding-right: 12px;
}
@media (max-width: 768px) {
  .objects-head__right {
    height: 35px;
  }
  .objects-head__right button {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
  }
}
.objects-card .main-img {
  border-radius: 12px;
  width: 78px;
  height: 78px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 35px;
}
.objects-card .form-select {
  max-width: 300px;
}
@media (max-width: 678px) {
  .objects-card .form-select {
    max-width: 241px;
  }
}

.filter-modal .modal-dialog {
  width: 390px;
}
@media (max-width: 576px) {
  .filter-modal .modal-dialog {
    width: 100%;
    margin-left: 0;
  }
}
.filter-modal .modal-content {
  padding: 28px 0;
}

.program .main-container {
  padding: 0 13px;
}
@media (max-width: 768px) {
  .program .main-container {
    padding: 0;
  }
}
.program-content {
  height: 420px;
  padding-top: 79px;
  z-index: 2;
}
@media (max-width: 768px) {
  .program-content {
    padding: 40px 47px;
  }
}
.program-bg {
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.program label {
  font-size: 12px;
  color: #adb5bd;
}
.program .btn-primary {
  padding: 10.5px 102.5px;
}
@media (max-width: 768px) {
  .program .btn-primary {
    width: 100%;
    padding: 10.5px 0;
  }
}/*# sourceMappingURL=style.css.map */