@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue/HelveticaNeue-Thin.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue/HelveticaNeue-Light.otf');
    font-weight: 300;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue/HelveticaNeue-Medium.otf');
    font-weight: 500;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue/HelveticaNeue-Roman.otf');
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('../fonts/HelveticaNeue/HelveticaNeue-Bold.otf');
    font-weight: 700;
}

:root {
    --bs-danger-rgb: 220, 53, 69;
    --bs-primary-rgb: 0, 91, 255;
    --bs-success-rgb: 25, 135, 84;
}

body {
    color: #222222;
}

.font-inter {
    font-family: 'Inter', serif;
}

.font-roboto {
    font-family: 'Roboto', serif;
}

.font-open-sans {
    font-family: 'Open Sans', serif;
}

.font-helvetica-neue {
    font-family: 'Helvetica Neue', serif;
}

.fs {
    &-1 {
        font-size: 35px !important;
    }

    &-2 {
        font-size: 28px !important;
    }

    &-3 {
        font-size: 24.5px !important;
    }

    &-4 {
        font-size: 21px !important;
    }

    &-5 {
        font-size: 17.5px !important;
    }

    &-6 {
        font-size: 14px !important;
    }

    &-7 {
        font-size: 19px !important;
    }

    &-sm {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    .w-md-auto {
        width: auto !important;
    }
}

.btn {
    padding: 11.5px 28px;

    &-primary {
        --bs-btn-bg: #005bff;
        --bs-btn-hover-bg: #0055d1;
        --bs-btn-active-bg: #0055d1;
    }
}

.main-container {
    max-width: 1920px;
    margin: 0 auto;

    @media (max-width: 768px) {
        max-width: calc(100% - 24px);
        padding: 0 !important;
        margin: 0 auto !important;
    }
}

/* Header */
.header {
    height: 64px;

    @media (max-width: 992px) {
        height: 42px;
    }

    &-in {
        box-shadow: 1px 1px 1.6px rgba(34, 34, 34, 0.1);
        border-bottom: 1px solid #dee2e6;
        z-index: 3;
    }

    &-content {
        max-width: 1856px;
    }

    &-logo {
        img {
            @media (max-width: 768px) {
                height: 21px;
            }
        }
    }

    &-navs {
        margin-left: 70px;
    }
}

.admin-header {
    .header-content {
        padding-top: 19px;
        padding-bottom: 19px;

        @media (max-width: 768px) {
            z-index: 1;
            padding-top: 13px;
            padding-bottom: 13px;

            .header-logo {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}

/* Header end */

// Moible menu
.mobile-menu {
    input {
        height: 35px;
    }

    .input-group-text {
        width: 42px;
        height: 35px;
    }
}
// Moible menu end

// Admin menu
.admin-menu {
    width: 492px !important;

    a {
        &.active, &:hover {
            color: #005BFF;

            svg path {
                stroke: #005BFF;
            }
        }
    }

    .input-group {
        input::placeholder {
            color: #DEE2E6;
        }

        &-text {
            flex-shrink: 0;
            width: auto;
            height: auto;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }
    }

    @media (max-width: 768px) {
        width: 100% !important;
    }
}
// Admin menu end

// Home
.home {
    iframe {
        @media (max-width: 768px) {
            height: 404px;
        }
    }
}

// Home end

// Objects
.objects {
    &-head {
        margin-bottom: 50px;

        &__left {
            .filter-btn {
                display: none;

                @media (max-width: 1550px) {
                    display: block;
                }
            }

            .btn-primary {
                width: 156px;

                @media (max-width: 768px) {
                    width: 117px;
                    padding: 6px 17.5px;
                }
            }

            .dropdown,
            a.btn-primary {
                @media (max-width: 1550px) {
                    display: none !important;
                }
            }
        }

        &__right {
            input {
                width: 258px;
                border-radius: 4px 0 0 4px;

                @media (max-width: 768px) {
                    width: 183px;
                }
            }

            .btn-primary {
                padding-left: 12px;
                padding-right: 12px;
            }

            @media (max-width: 768px) {
                height: 35px;

                button {
                    padding: 0;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 35px;
                }
            }
        }
    }

    &-card {
        .main-img {
            border-radius: 12px;
            width: 78px;
            height: 78px;
            object-fit: cover;
            margin-right: 35px;
        }

        .form-select {
            max-width: 300px;

            @media (max-width: 678px) {
                max-width: 241px;
            }
        }
    }
}

// Objects  end

// Filter modal
.filter-modal {
    .collapse-btn {
        padding: 6px 12px;

        img {
            transition: transform 0.3s ease-in-out;
        }

        &[aria-expanded="true"] {
            img {
                transform: rotateZ(180deg);
            }
        }
    }
}

// Filter modal end

// Programm
.program {
    .main-container {
        padding: 0 13px;

        @media (max-width: 768px) {
            padding: 0;
        }
    }

    &-content {
        height: 420px;
        padding-top: 79px;
        z-index: 2;

        @media (max-width: 768px) {
            padding: 40px 47px;
        }
    }

    &-bg {
        object-fit: cover;
        z-index: -1;
    }

    label {
        font-size: 12px;
        color: #adb5bd;
    }

    .btn-primary {
        padding: 10.5px 102.5px;

        @media (max-width: 768px) {
            width: 100%;
            padding: 10.5px 0;
        }
    }
}

// Programm end

// object-sec
.object-sec {
    &__banner {
        height: 900px;

        @media (max-width: 992px) {
            height: 600px;
        }

        @media (max-width: 768px) {
            height: 367px;
        }
    }
}

.charaker-list {
    .line {
        border-bottom: 1px dotted #dee2e6;
        transform: translateY(-4px);
    }
}

// object-sec

// map-tabs
.map-tabs {
    .nav-link {
        padding: 8px 50px;
        color: #222222;

        @media (max-width: 768px) {
            padding: 8px;
        }

        &.active {
            color: #005bff;
        }
    }

    iframe {
        @media (max-width: 992px) {
            height: 500px;
        }

        @media (max-width: 768px) {
            height: 367px;
        }
    }
}

// map-tabs

.offcanvas-modal {
    width: 452px !important;
    overflow-x: hidden;
    padding: 28px 38px;
    box-sizing: border-box;

    @media (max-width: 700px) {
        width: 100% !important;
        margin: 0;
        padding: 30px 12px 2px 12px;
        border: none !important;
    }

    .modal-close {
        min-width: 16px;
        min-height: 16px;
    }

    .modal-btns {
        display: flex;
        margin: 236px -12px 0 -12px;

        a {
            flex: 1;
        }
    }

    .cart-box {
        width: 83px;
        height: 83px;
        background: #198754;
        z-index: 100;
        left: 95px;
        bottom: 77px;
        animation: pulse 2s infinite;

        &:hover {
            animation-play-state: paused;
        }

        .count {
            position: absolute;
            bottom: 11px;
            right: 15px;
            background: #f10e11;
            font-size: 14px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 3px 5px;
            border-radius: 50%;
        }
    }

    @-webkit-keyframes pulse {
        0% {
            -webkit-box-shadow: 0 0 0 0 rgba(25, 135, 84, 0.4);
        }

        70% {
            -webkit-box-shadow: 0 0 0 10px rgba(25, 135, 84, 0);
        }

        100% {
            -webkit-box-shadow: 0 0 0 0 rgba(25, 135, 84, 0);
        }
    }

    @keyframes pulse {
        0% {
            -moz-box-shadow: 0 0 0 0 rgba(25, 135, 84, 0.4);
            box-shadow: 0 0 0 0 rgba(25, 135, 84, 0.4);
        }

        70% {
            -moz-box-shadow: 0 0 0 10px rgba(25, 135, 84, 0);
            box-shadow: 0 0 0 10px rgba(25, 135, 84, 0);
        }

        100% {
            -moz-box-shadow: 0 0 0 0 rgba(25, 135, 84, 0);
            box-shadow: 0 0 0 0 rgba(25, 135, 84, 0);
        }
    }
}

.text-bg-outline-primary {
    border: 1px solid #005bff;
    color: #005bff;
    background: transparent;
}

.gap-y-24 {
    row-gap: 24px;
}

// search-intro
.search-intro {
    .main-container {
        @media (max-width: 768px) {
            padding: 0;
        }
    }

    .content {
        max-width: 686px;
        width: 100%;
        margin: 0 auto;
    }

    p {
        color: #dee2e6;
        width: 417px;
        margin: 30px auto;

        @media (max-width: 768px) {
            margin: 45px 0;
            width: 100%;
        }
    }

    .input-group {
        button {
            width: 101px;
            padding: 0;
        }
    }
}

// saved-maps
.saved-maps {
    &__card {
        .card-body {
            padding: 47px 37px;

            @media (max-width: 1700px) {
                padding: 30px;
            }
        }
    }

    .card-title {
        @media (max-width: 768px) {
            font-size: 21px !important;
        }
    }

    .row {
        row-gap: 24px;
    }
}

// saved-maps

// search-object
.search-object {
    .content {
        span {
            color: #adb5bd;
            font-style: italic;
            margin-top: 15px;
        }
    }
}

// search-object
// footer

.success-btn,
.primary-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    color: #fff;
    padding: 6px;
    justify-content: center;
}

.success-btn {
    background: #25d366;
}

.primary-btn {
    background: #0088cc;
}

#scrollBtns {
    z-index: 2;
    display: none;
    bottom: 0;

    a {
        height: 54px;
    }
}

footer {
    margin-top: 48px;
    padding: 64px 36px 58px 36px;
    border-top: 1px solid #dee2e6;

    p {
        max-width: 752px;
        color: #dee2e6;
    }

    @media (max-width: 768px) {
        padding: 24px 24px 40px 24px;
        margin-bottom: 2px;
        margin-top: 180px;
    }
}

.empty-box {
    width: 270px;
    margin: 108px auto 108px auto;

    img {
        margin: 0 auto;
    }

    p {
        color: #ADB5BD;
        text-align: center;
    }
}

.search-intro .program-content {
    @media (max-width: 678px) {
        padding-left: 0;
        padding-right: 0;
    }
}

// Landlord
.landlord {
    .btn-sm {
        padding: 6px 12px;
    }
}
// Landlord end

// Landlord modal
.landlord_modal {
    .modal-dialog {
        max-width: 672px;

        @media (max-width: 768px) {
            max-width: 100%;
            margin: 0;
        }
    }

    .modal-content {
        padding: 32px 42px 37px;

        @media (max-width: 768px) {
            height: 100svh;
            padding: 24px;
            border: 0;

            .modal_close {
                position: absolute;
                top: 18px;
                right: 25px;
            }
        }
    }
}

.lmodal {
    &-1 {
        .btns {
            max-width: 508px;
            width: 100%;
            gap: 60px;
            margin: 60px auto 0;

            @media (max-width: 768px) {
                gap: 40px;
            }
        }
    }

    &-2 {
        .form-inp {
            margin: 61px 0 38px;

            @media (max-width: 768px) {
                margin: 48px 0 24px;
            }
        }
    }

    &-3 {
        .modal-content {
            &__head {
                margin-bottom: 112px;

                @media (max-width: 768px) {
                    margin-bottom: 0;
                    position: absolute;
                    top: 24px;
                    left: 0;
                    width: 100%;
                    padding: 0 13px;
                    text-align: center;

                    button {
                        position: absolute;
                        top: 0;
                        right: 19px;
                    }
                }
            }

            .btn-outline-primary {
                margin-top: 70px;
            }
        }
    }
}
// Landlord modal end

// Create card 
.create-card {
    margin-bottom: 137px;

    @media (max-width: 768px) {
        margin-bottom: 0;
    }
    
    h2 {
        margin-bottom: 95px;

        @media (max-width: 768px) {
            margin-bottom: 77px;
        }
    }
}
// Create card end

// Old base
.old-base {
    .input-group input {
        width: 252px;
    }

    .btn-success {
        width: 292px;
    }

    .table-responsive {
        overflow: auto !important;
        height: 615px;
        border-bottom: 1px solid #222222;
        border-top: 1px solid #DEE2E6;
    }

    table {
        min-width: 1620px;

        thead {
            position: sticky;
            top: 0;
        }

        tbody {
            tr {
                vertical-align: middle;
            }
            td {
                min-height: 66px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }
    }
}
// Old base end

// Map add btns
.map-add__btns {
    @media (max-width: 460px) {
        max-width: 333px;
        margin: 0 auto;
    }

    .bg-primary {
        @media (max-width: 460px) {
            min-width: calc(50% - 12px);
        }
    }

    button {
        border-radius: 0 0.375rem 0.375rem 0;
    
        &:hover {
            background: #DC3545;
        }
    }
}
// Map add btns end

// Geocoder
.geocoder {
    .row {
        row-gap: 39px;
    }

    .collapse {
        textarea {
            border: 1px solid #DEE2E6 !important;
            background: #E9ECEF;
        }
    }
}
// Geocoder end